body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

button {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 3px;
}

#nameInput {
    display: none;
    margin-top: 10px;
}

#bookBtn {
    background-color: #2ecc71;
}
