.event-container {
    margin-bottom: 20px;
}

.booking-container {
    display: none;
    margin-top: 10px;
}

#login-container {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
}
